<head>
<meta content='width=device-width, initial-scale=1' name='viewport'/>
</head>
<body>
<center>

<% if (status === "Garage Door Activated") { %>
<div class="alert alert-success" role="alert"> <%= status %></div>
<% } %>




<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Garage Door Opener</h1>
    <p class="lead">Simple Garage Door Opener running on a Raspberry Pi</p>
    <form method="post">
    <button name="gdo" formmethod="post" formaction="/api/activate" type="submit" class="btn btn-success">Activate</button>
  </div>
</div>

 <a>Led Status: <%=status %></a>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</center>
</body>

</form>
